<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid">{{#if isLogged}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a
            href="/user/home"><img src="/assets/img/invente_5.0_logo.png" width="150" /></a>
        {{^}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a href="/"><img
                src="/assets/img/invente_5.0_logo.png" width="150" /></a>{{/if}}<button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            {{#if isLogged}}
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>
            {{^}}
            <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login" style="color: #f07200;">Log
                    In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                    style="background-color: #f07200;">Sign
                    Up</a></span>
            {{/if}}

        </div>
    </div>
</nav>

<section style="margin-top: 100px;margin-bottom: 100px;">
    <div class="container text-center">
        <div class="profile-header-container">
            <div class="profile-header-img">
                <input class="form-control-plaintext" type="text" value="Welcome {{username}}" readonly=""
                    style=" color: #f07200;font-size: 24px;">
                <img class="img-circle" src="/assets/img/comp00.gif" />
                <div class="rank-label-container">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" value="Name :" readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{username}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" value="Email :" readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{email}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Phone number :"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{phone}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="College :"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{college}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="unique Indentification Number :"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{regno}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>

        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Branch :"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{dept}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Year :"></div>
            <div class="col"><input class="form-control-plaintext" type="text" value={{year}} readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Amount Paid for Event : "></div>
            <div class="col"><input class="form-control-plaintext" type="text" value="₹{{paid}}" readonly=""
                    style=" color: #f07200;font-size: 24px;"></div>
        </div>

        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Amount Paid for Workshop : "></div>
            {{#if workshopPaid}}
            <div class="col"><input class="form-control-plaintext" type="text" value="₹250" readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
            {{^}}
            <div class="col"><input class="form-control-plaintext" type="text" value="₹0" readonly=""
                    style="color: #f07200;font-size: 24px;"></div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col"><input class="form-control-plaintext" type="text" readonly=""
                    style="color: #f07200;font-size: 24px;" value="Events Registered By you : "></div>
            <br />
        </div>
        <div class="row">
            {{#if events}}
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    Event ID
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    Event Name
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    Conducting DEPT
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    Event Day
                </h4>
            </div>
        </div>
        {{#each events}}
        <div class="row">
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    {{this.eventId}}
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    {{this.event}}
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    {{this.conductingDept}}
                </h4>
            </div>
            <div class="col">
                <h4 class="form-control-plaintext" style="color: #f07200;font-size: 24px;">
                    {{this.eventDay}}
                </h4>
            </div>
        </div>
        {{/each}}
        {{^}}
        <div class="col"><input class="form-control-plaintext" type="text"
                value="Haven't Registered For Any Events Yet !" readonly="" style="color: #f07200;font-size: 24px;">
        </div>
        {{/if}}

        <div class="row">
            <div class="col">
                {{#if workshop}}
                <input class="form-control-plaintext" type="text"
                    value="You Have Registered For {{workshop.name}} conducted by {{workshop.dept}}" readonly=""
                    style="color: #f07200;font-size: 24px;">
                {{^}}
                <input class="form-control-plaintext" type="text" value="You Havn't Registered For any Workshop Yet!"
                    readonly="" style="color: #f07200;font-size: 24px;">
                {{/if}}
            </div>
        </div>
    </div>
</section>