<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid"><a
            class="navbar-brand d-flex float-left justify-content-start align-items-start align-content-start justify-content-xl-start"
            href="/user/home" style="color: #f07200;">Invente 2020</a><button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>

        </div>
    </div>
</nav>
<h1>Welcome {{username}}</h1>
<p>Reg Phone : {{phone}}</p>
<br />
<br />
<h4>User Profile</h4>
<br />
<h6>Amount Paid for Event : {{paid}} </h6>
{{#if workshopPaid}}
<h6>You Have Paid ₹250 For the Workshop!</h6>
{{/if}}
<br />
<br />
<h4>Events Registered by you </h4>
<br />
{{#if events}}
<table class="table">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Conducting DEPT</th>
            <th>Event Day</th>
        </tr>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td>{{this.eventId}}</td>
            <td>{{this.event}}</td>
            <td>{{this.conductingDept}}</td>
            <td>{{this.eventDay}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{^}}
<p> Haven't Registered For Any Events Yet !</p>
{{/if}}
<br />
<br />
<h4>Workshop Registered by you </h4>
<br />
{{#if workshop}}
You Have Registered For {{workshop.name}} conducted by {{workshop.dept}}
{{^}}
You Havn't Registered For any Workshop Yet!
{{/if}}