<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid">{{#if isLogged}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a
            href="/user/home"><img src="/assets/img/invente_5.0_logo.png" width="150" /></a>
        {{^}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a href="/"><img
                src="/assets/img/invente_5.0_logo.png" width="150" /></a>{{/if}}<button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            {{#if isLogged}}
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>
            {{^}}
            <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login" style="color: #f07200;">Log
                    In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                    style="background-color: #f07200;">Sign
                    Up</a></span>
            {{/if}}

        </div>
    </div>
</nav>
{{> messages}}

<h1 class="unselectable display-3 text-center d-flex d-xl-flex justify-content-center justify-content-xl-center"
    data-aos="fade-up" data-aos-duration="1000" style="color: rgb(240, 114, 0); margin-top: 0px">Register For Events
</h1>
<br />
<div class="row" data-aos="fade-up-right" style="
            padding-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          ">
    <div class="col" data-aos="fade-up" data-aos-duration="1000" style="padding-top: 20px; margin: 10px">
        <img class="w-100 d-block" src="/assets/img/schedule_day_1.jpeg" alt="Slide Image" />
    </div>
    <div class="col" data-aos="fade-up" data-aos-duration="1400" style="padding-top: 20px; margin: 10px">
        <img class="w-100 d-block" src="/assets/img/schedule_day_2.jpeg" alt="Slide Image" />
    </div>
</div>
<br />
{{#if events}}
<div class="w3-row">
    <div class="w3-third w3-container">
        <input type="text" class="w3-input w3-content" style="width: 250px;" id="searchInputEvent"
            onkeyup="myFunction(0)" placeholder="Search for Events.." title="Type in a Event Name">
    </div>
    <div class="w3-third w3-container">
        <input type="text" class="w3-input w3-content" style="width: 250px;" id="searchInputDept"
            onkeyup="myFunction(1)" placeholder="Search for Departments.." title="Type in a Department Name">
    </div>
    <div class="w3-third w3-container">

    </div>
</div>
<br>
<table class="table" id="eventsTable">
    <thead>
        <tr>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Event Name</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Conducting DEPT</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Event Type</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Event Day</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Register</th>
        </tr>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.name}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.dept}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.type}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.day}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">
                <form id="EventForm" action="/event/register" method="POST">
                    <input type="hidden" name="eventId" value={{this.id}} hidden>
                    <input class="w3-btn w3-blue" type="submit" value="Register">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{^}}
<p class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
    data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">No Events Loaded Pls Reload Again !</p>
{{/if}}

<br />
<script>
    function myFunction(index) {
        var input, filter, table, tr, td, i, txtValue;
        if (index === 1) {
            input = document.getElementById("searchInputDept");
        }
        else {
            input = document.getElementById("searchInputEvent");
        }

        filter = input.value.toUpperCase();
        table = document.getElementById("eventsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[index];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{{!-- {{#if workshop}}
<table class="table">
    <thead>
        <tr>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">workshop Name</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Conducting DEPT</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">workshop Day</th>
            <th class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">Register</th>
        </tr>
    </thead>
    <tbody>
        {{#each workshop}}
        <tr>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.name}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.dept}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">{{this.day}}</td>
            <td class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">
                <form id="workshopForm" action="/event/register/workshop" method="POST">
                    <input type="hidden" name="workshopId" value={{this.id}} hidden>
                    <input type="submit" value="Register">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{^}}
<p class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
    data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">No workshop Loaded Pls Reload Again !</p>
{{/if}} --}}