<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid"><a
            class="navbar-brand d-flex float-left justify-content-start align-items-start align-content-start justify-content-xl-start"
            href="/user/home" style="color: #f07200;">Invente 2020</a><button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>
        </div>
    </div>
</nav>
{{> messages}}

<h1>Register For Events</h1>
<br />
{{#if redirectPay}}
<a href="/pay">Pay ₹100 more to release 4 more events!</a>
{{/if}}
<br />
{{#if events}}
<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Conducting DEPT</th>
            <th>Event Day</th>
            <th>Register</th>
        </tr>
    </thead>
    <tbody>
        {{#each events}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.dept}}</td>
            <td>{{this.day}}</td>
            <td>
                <form id="EventForm" action="/event/register" method="POST">
                    <input type="hidden" name="eventId" value={{this.id}} hidden>
                    <input type="submit" value="Register">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{^}}
<p>No Events Loaded Pls Reload Again !</p>
{{/if}}